
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Schoolbell');
@import url('https://fonts.googleapis.com/css?family=Tenor+Sans');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
body {
	background-color:#0099ff;
}
h1, h2, h3, h4, h5 {
	color:#000099;
	font-family:'PT Sans Narrow';
}
p, ul {
	color:#224b87;
	font-family:'Schoolbell';
}
table {
	color:#ccff99;
	font-family:'Tenor Sans';
	border-collapse: collapse;
}
td, th {
	border: 1px solid #ddd;
}
th, tr {
	color:#ff3300;
	font-family:'Yeseva One';
}
th {
	text-align: center;
	background-color:#ccff99;
}
table tr:nth-child(even){background-color:#66ff33;}
table tr:nth-child(odd){background-color:#3366ff;}
table tr:hover {background-color:#3366cc;}
